name: update server
on: [workflow_dispatch]
jobs:
  update_server:
    name: update server
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: shutdown server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PRODUCTION_SERVER_HOST }}
        username: ${{ secrets.PRODUCTION_SERVER_USER }}
        key: ${{ secrets.PRODUCTION_SERVER_KEY }}
        port: ${{ secrets.PRODUCTION_SERVER_PORT }}
        script: |
          cd vegebot
          docker-compose down
    - name: copy src
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.PRODUCTION_SERVER_HOST }}
        username: ${{ secrets.PRODUCTION_SERVER_USER }}
        key: ${{ secrets.PRODUCTION_SERVER_KEY }}
        port: ${{ secrets.PRODUCTION_SERVER_PORT }}
        source: "server_src/"
        target: "vegebot"
    - name: add env file
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PRODUCTION_SERVER_HOST }}
        username: ${{ secrets.PRODUCTION_SERVER_USER }}
        key: ${{ secrets.PRODUCTION_SERVER_KEY }}
        port: ${{ secrets.PRODUCTION_SERVER_PORT }}
        script: | # todo: generate JWT here
          cd vegebot
          touch .env
          echo DISCORD_BOT_TOKEN=${{ secrets.DISCORD_BOT_TOKEN }} >> .env
          echo POSTGRES_PASSWORD=$(openssl rand -base64 48) >> .env
          echo POSTGREST_JWT_SECRET=${{ secrets.POSTGREST_JWT_SECRET }} >> .env
          echo POSTGREST_TOKEN=${{ secrets.POSTGREST_TOKEN }} >> .env
    - name: update and startup server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PRODUCTION_SERVER_HOST }}
        username: ${{ secrets.PRODUCTION_SERVER_USER }}
        key: ${{ secrets.PRODUCTION_SERVER_KEY }}
        port: ${{ secrets.PRODUCTION_SERVER_PORT }}
        script: |
          cd vegebot
          docker-compose update
          docker-compose up -d

